<div class='container'>
	<div class='row'>
		<div class='col-md-12'>
			<h1>Admin Dashboard</h1>

			<ul>
				<li>
					<%= link_to "View Some Applications", dispensary_applications_url %>
				</li>

				<li>
					Send Setup Link
				</li>

				<li>
					View Users
				</li>


			</ul>
		</div>
	</div>
</div>
