.container
  .row
    .col-md-12
      %h1 Admin Dashboard
      %ul
        %li
          = link_to "View Some Applications", dispensary_applications_url
        %li
          Send Setup Link
        %li
          View Users
