<div class='container-fluid'>
	<div class='row'>
		<div class='col-md-6 text-left' id='get-started-user'>
			<h2 class='green'>Users</h2>
			<p class='lead'>Want to start getting the best deals for recreational cannabis?</p>
			<p>	<%= link_to 'Get Started', '#', class: 'btn btn-default' %></p>
		</div>
		<div class='col-md-6 text-right' id='get-started-dispensary'>
			<h2 class='pink'>Dispensaries</h2>
			<p class='lead'>Do you own a dispensary and want to sell on nugdealz? </p>

			<p><%= link_to "Register", new_dispensary_registration_path, class: 'btn btn-default' %></p>
		</div>
	</div>
</div>