<div class='container'>
	<div class='row'>
		<div class='col-md-6 text-left' id='get-started-user'>
			<h2 class='green'>Users</h2>
			<p class='lead'>Want to start getting the <b>best deals</b> for recreational cannabis?</p>
			<p>	<%= link_to 'Get Started', '#', class: 'btn btn-green btn-lg' %></p>
		</div>
		<div class='col-md-6 text-right' id='get-started-dispensary'>
			<h2 class='pink'>Dispensaries</h2>
			<p class='lead'>Do you own a dispensary and want to <b>advertise</b> on nugdealz? </p>

			<p><%= link_to "Apply", new_dispensary_application_url, class: 'btn btn-pink btn-lg' %></p>
		</div>
	</div>
</div>
