.container
  .row.padding-top
    .col-md-8
      %h2 What you need to know about nugdealz        
  .row.border-bottom.padding-bottom
    .col-md-10
      %h3 Redeeming a deal
      %p.lead
        Simply start by searching - Once you find the deal you like, purchase it, and receive an email with your redeemable coupon. Take the coupon to the right dispensary and enjoy! Don't forget - every dollar you spend on nugdealz gives you points to redeem at whenever you want! #{link_to "Sign up now!", new_user_registration_url, class: 'pink'}
    .col-md-2.padding-top.text-center
      %br
      %br
      %i.fa.fa-qrcode.fa-5x
  .row.padding-top.padding-bottom.border-bottom
    .col-md-12
      %h2 Why use nugdealz instead of other coupons?
      %h3 Premium Exclusivity
      %p.lead
        These aren't your regular deals found in coupon books. These are PREMIUM deals, exclusive to nugdealz, giving you the best savings and value around.
      %h3 Loyalty
      %p.lead
        With nugdealz you earn DOUBLE the loyalty points. What does that mean? When you redeem a deal on nugdealz - you not only gain loyalty points for that dispensary, you earn loyalty points with us too! Browse your favorite dispensaries loyalty offerings or come browse the #{link_to 'nugdealz store', '#', class: 'pink'}.
  .row.text-center.padding-top
    .col-md-4.col-md-offset-4
      =link_to 'Start Now', new_user_registration_url, class: 'btn btn-lg btn-pink btn-block'

