.container
  .row.padding-top
    .col-md-8
      %h2 What you need to know about nugdealz        
  .row.border-bottom.padding-bottom
    .col-md-10
      %h3 Redeeming a deal
      %p.lead
        Simply start by searching - Once you find the deal you like, purchase it, and receive an email with your redeemable coupon. Take the coupon to the right dispensary and enjoy! Don't forget - every dollar you spend on nugdealz gives you points to redeem at whenever you want! #{link_to "Sign up now!", new_user_registration_url, class: 'pink'}
    .col-md-2.padding-top.text-center
      %br
      %br
      %i.fa.fa-qrcode.fa-5x
  .row.padding-top.padding-bottom
    .col-md-12
      %h3 Why use nugdealz instead of other coupons?
      %p.lead
        We have the BEST deals and you can only find them here. Also, don't forget that money spent on nugdealz accumulates points that can be used at our store.

