/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



 ul.unstyled{
  list-style-type: none;
 }

 #footer-container a{
  color: #7ED321;
 }

 .nav-image{
  width: 140px;
 }

 .deal-well{
  background-color: white;
  margin-bottom: 20px;
 }



 #footer-container{
  margin-top: 80px;
  min-height: 250px;
  background-color: #000;
  padding-top: 50px;
}

 .list-well{
  height: 300px;
  background: asset-data-url("default_dispensary.jpg") no-repeat center center;
  color: #f6f6f6 !important;
  padding: 150px 10px 0px 20px;
  cursor: pointer;
 }

 .list-well h4{
  text-transform: uppercase !important;
 }

 .list-well a{

  color: #f6f6f6;
 }

 #search-bar{
  min-height: 70px;
  background-color: #293960;
  margin-top: -20px;

 }

 #search-bar form{
  padding-top: 15px;
 }

 .navbar-white{
  background-color: rgb(255,255,255);

 }

 .navbar-white .navbar-nav > li > a {
  color: #a6a6a6;
}

 .white{
  color: #f6f6f6 !important;
 }


.welcome-form{
  color: #E56D9A;
}

#welcome-jumbo{
	height: 73vh;
  padding-top: 175px;
}

#welcome-jumbo h1{
  font-size: 55px;
  line-height: 50px;
  color: #f6f6f6 !important;
}

 .dispensary-well{
   margin-top: -21px;
   padding-top: 20px;
   background-color: #194838;
   color: #f6f6f6 !important;
   height: 94vh;
 }

 .user-well{
   margin-top: -21px;
   padding-top: 20px;
   background-color: #24214b;
   color: #f6f6f6 !important;
   height: 94vh;
 }

 #about-section{
	 background-color:#333333;
	 min-height: 400px;
 }

 #about-section p{
 	 color: #f6f6f6;
 }


 .jumbotron{
   background: rgba(255, 255, 255, 0);
 }

 .no-pad{
  padding-left: 0 !important;
  padding-right: 0 !important;
 }

 .no-pad-right{
  padding-right: 0px;
 }

.no-pad-left{
  padding-left: 0px;
}

select {
  width: 100% !important;
  border: 1px solid #cccccc !important;
  background-color: #ffffff !important;

}


 #search-column{
   margin-top: 18%;
 }

 #search-results{
   height: 90vh !important;
   overflow: visible;
 }

 .progress-bar-points{
   font-size: 34px !important;
   margin-top: 17px;
 }

 #confirm-deal{
   border: 3px dashed #474747;
   border-radius: 10px;
   padding-bottom: 20px;
 }

 .point-value{
 	font-size: 32px;
 	color: #4a4a4a;
 	line-height: 1em;
 }

 .nugdealz-points{
  font-size: 80px;
 }

 .btn-clear-pink{
  background: rgba(255,255,255, 0.79);
  border: 2px solid #E56D9A;
  color: #E56D9A;
  border-radius: 4px;
 }

 .btn-clear-white{
 	background: rgba(255,255,255, 0.79);
 	border: 2px solid #7ED321;
 	color: #7ED321;
 	border-radius: 4px;
 	font-size: 18px;
 	padding: 10px 30px;
 }

 .btn-pink{
 	background-color: #E56D9A;
 	color: #f6f6f6;
 	border-radius: 4px;
 }

 .btn-green{
 	background-color: #7ed321;
 	color: #f6f6f6;
 	border-radius: 4px;
 }

 .btn-blue{
  background-color: #293960;
  color: #f6f6f6;
  border-radius: 4px;
 }



 .btn-purple{
   background-color: #24214b;
 	color: #f6f6f6;
 	border-radius: 4px;
 }

 .purple{
	 color: #24214b !important;
 }

 .gray{
	 color: #a6a6a6 !important;
 }

.badge-pink{
  background-color: #E56D9A;
}

.badge-pink a{
  color: white;
  text-decoration: none;
}
 #dispensary-header{
  background: asset-data-url('THChealth.jpg')no-repeat center center;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;

 	min-height: 315px;
 	padding-top: 10%;
 	border-bottom: 1px solid #dddddd;
 }

 #dispensary-header{
 	margin-top: -22px;
 }


#get-started-user{
	padding-top: 50px;
	padding-bottom: 50px;
}

#get-started-user h2, #get-started-dispensary h2{
	font-size: 70px;
}

#get-started-dispensary{
	padding-top: 50px;
	padding-bottom: 50px;
}

.form-lg{
  height: 60px !important;
}

.light-green{
	color: #B8E986 !important;
}

.green{
	color: #7ED321 !important;
}

.purple {
  color: #504e7a !important;
}

.pink{
		color: #E56D9A !important;
}

.padding-top{
	padding-top: 40px;
}

.medium-padding-top{
	padding-top: 20px;
}


.highlighter{
  margin-top: -20px;
  margin-right: -17px;
}


.padding-bottom{
	padding-bottom: 40px;
}

.medium-padding-bottom{
	padding-bottom: 20px;
}

.padding-left{
	padding-left: 40px;
}

.padding-right{
	padding-right: 40px;
}

.border-bottom-light-green{
	border-bottom: 1px solid #B8e986;
}

.border-left-light-green{
	border-left: 1px solid #B8e986;
}

.border-right-light-green{
	border-right: 1px solid #B8e986;
}

.left-right-border-light-green{
	border-left: 1px solid #B8e986;
	border-right: 1px solid #B8e986;
}

.left-right-border{
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
}

.border-bottom{
	border-bottom: 1px solid  #dddddd
}

.border-left{
	border-left: 1px solid  #dddddd
}

.border-right{
	border-right: 1px solid  #dddddd
}

.border-top{
	border-top: 1px solid  #dddddd
}
