/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

<<<<<<< HEAD
 .jumbotron{
   background: rgba(255, 255, 255, 0);
 }

=======
 .no-pad{
  padding-left: 0 !important;
  padding-right: 0 !important;
 }

 .no-pad-right{
  padding-right: 0px;
 }

.no-pad-left{
  padding-left: 0px;
}

select {
  width: 100% !important;
  border: 1px solid #cccccc !important;
  background-color: #ffffff !important;
  height: 34px !important;
  color: #474747;

}

>>>>>>> 19442a9406ad9fa6068265c7505fb38406e8fe94

 #search-column{
   margin-top: 18%;
 }

 #search-results{
   height: 90vh !important;
   overflow: visible;
 }

 .progress-bar-points{
   font-size: 34px !important;
   margin-top: 17px;
 }

 #confirm-deal{
   border: 3px dashed #474747;
   border-radius: 10px;
   padding-bottom: 20px;
 }

 .point-value{
 	font-size: 48px;
 	color: #4a4a4a;
 	line-height: 1em;

 }

 .btn-clear-white{
 	background: rgba(255,255,255, 0.79);
 	border: 2px solid #7ED321;
 	color: #7ED321;
 	border-radius: 4px;
 	font-size: 18px;
 	padding: 10px 30px;
 }

 .btn-pink{
 	background-color: #E56D9A;
 	color: #f6f6f6;
 	border-radius: 4px;
 }

 .btn-green{
 	background-color: #7ED321;
 	color: #f6f6f6;
 	border-radius: 4px;
 }

 .btn-purple{
   background-color: #9536a3;
 	color: #f6f6f6;
 	border-radius: 4px;
 }



 #dispensary-header .row{
 	background: url('the-weed-2.jpg')no-repeat center center;
 	height: 415px;
 	padding-top: 10%;
 	border-bottom: 1px solid #B8e986;
 }

 #dispensary-header{
 	margin-top: -22px;
 }


#get-started-user{
	padding-top: 50px;
	padding-bottom: 50px;
}

#get-started-user h2, #get-started-dispensary h2{
	font-size: 70px;
}

#get-started-dispensary{
	padding-top: 50px;
	padding-bottom: 50px;
}

.form-lg{
  height: 60px !important;
}

.light-green{
	color: #B8E986 !important;
}

.green{
	color: #7ED321 !important;
}

.purple {
  color: #9536a3 !important;
}

.pink{
	color: #E56D9A !important;
}

.padding-top{
	padding-top: 40px;
}

.border-bottom-light-green{
	border-bottom: 1px solid #B8e986;
}

.border-left-light-green{
	border-left: 1px solid #B8e986;
}

.border-right-light-green{
	border-right: 1px solid #B8e986;
}

.left-right-border-light-green{
	border-left: 1px solid #B8e986;
	border-right: 1px solid #B8e986;
}
